body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	height: 100%;
	width: 100%;
	margin-left: 7%;
	margin-right: 7%;
}	

contato{
	text-align: center;
}
.redes-sociais img{
	height: 40px;
}

.redes-sociais h3, p{
	color: #000;
}

.rede-sociais, h3{
    color: #000;
}

.tabela-horario, td {
	color: #000;
}


textarea { 
	width: 400px; 
	height: 120px; 
	line-height: 20px; 
	max-width: 400px; 
} 
